<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      /* Estilo para adicionar borda ao div */
      .container-border {
        border: 5px solid #ced4da; /* Estilo, largura e cor da borda */
        padding: 20px; /* Adiciona espaço dentro da borda para o conteúdo */
      }

    </style>
  </head>
  <body>
    <!-- FORMULARIO -->
    <div class="container container-border">
      <form action="/demandante/novo" method="POST">
        <!--nome-->
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="string" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Seu nome aqui...">
        </div>
        <!--senha-->
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="Sua senha aqui...">
        </div>
        <!-- repeteSenha -->
        <div class="form-group">
          <label for="repeteSenha">Senha</label>
          <input type="password" class="form-control" id="repeteSenha" placeholder="Repita sua senha aqui...">
        </div>
        <!--cpf-->
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" placeholder="Seu CPF aqui...">
        </div>
        <!--cep-->
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep" placeholder="Seu CEP aqui...">
        </div>
        <!--logradouro-->
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" id="logradouro" placeholder="Seu logradouro aqui...">
        </div>
        <!--complemento-->
        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" class="form-control" id="complemento" placeholder="Seu complemento aqui...">
        </div>
        <!--bairro-->
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" placeholder="Seu bairro aqui...">
        </div>
        <!--localidade-->
        <div class="form-group">
          <label for="localidade">Localidade</label>
          <input type="text" class="form-control" id="localidade" placeholder="Sua localidade aqui...">
        </div>
        <!--uf-->
        <div class="form-group">
          <label for="uf">Unidade Federal</label>
          <input type="text" class="form-control" id="uf" placeholder="Sua unidade federal aqui...">
        </div>
        <!--uf-->
        <div class="form-group">
          <label for="numero_da_casa">Numero da casa</label>
          <input type="text" class="form-control" id="numero_da_casa" placeholder="Seu número da sua casa aqui...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </body>
</html>
